body {
    background-color: #AA7D39;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1% 5%;

    line-height: 150%;
}

header {
    height: 1.5em;
}

h1 {
    margin: 1.5em 1em;
}

/* figcaption {
    clear: left;
} */



.navigointipalkki ul {
    list-style-type: none;
}

.navigointipalkki li {
    float: left;
    background-color: #d3b42c;
}

.navigointipalkki a {
    color: white;
    overflow: hidden;
    padding: 0 40px;
    text-decoration: none;
}

.navigointipalkki a:hover {
    background-color: #19171E;
}

.navigointipalkki a.active-page {
    color: brown;
    background-color: darkgrey;
}

.kuva {
    display: block;
    float: left;
}

.videot {
    width: 512px;
    height: 288px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 20px;
}

.vieraskirja {
    text-align: center;
}