* {
    box-sizing: border-box;
}

.kortti {
    display: inline-block;
    width: 33%;
    height: 20%;
    min-width: 110px;
    /* max-width: 285px; */
    max-width: calc(33% - 20px);
    padding: 5px 15px;
    margin: 5px 10px;
    text-align: justify;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: top;
}

.hinta {
    text-align: right;
}

.btn-cta {
    display: block;
    background-color: lightgreen;
    width: 70%;
    max-width: 125px;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 8px;
    margin: 0.5rem auto;
}

.btn-cta:hover {
    transform: translate3d(3px, -3px, 3px);
}